/1202/module3/q1/bs
/1202/module3/q3/spmx
/1202/module4/circular linked list/q3
/1202/module4/doubly linked list/q1
/1202/module4/q1/q1
/1202/module4/q2/q2
/1202/module4/q3/q3
/1202/module4/single linked list/q2
/1202/module5/Topic1/q1
/1202/module5/Topic2/q1
/1204/module1/q1/Triangle
/1204/module1/q2/Bank_menu
/1204/module2/q1/Construct
/1204/module3/heirarchial/heirarchial
/1204/module3/hybrid/hybrid
/1204/module3/mutli-level/multi-level
/1204/module3/mutliple/multple
/1204/module3/q1/q1
/1204/module3/q2/q2
/1204/module3/q3/q3
